/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */
 

@import "materialize/components/color";

//1. Colors
$secondary-color: #c2185b;

 // 21. Typography
 // ==========================================================================
 // Header Styles
 $h1-fontsize: 4rem !default;
 $h2-fontsize: 3.1rem !default;
 $h3-fontsize: 2.56rem !default;
 $h4-fontsize: 2.1rem !default;
 $h5-fontsize: 1.26rem !default;
 $h6-fontsize: 1rem !default;


 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  //Container Footer
  .container-footer {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }
  
  @media only screen and (min-width: 601px) {
    .container-footer {
      width: 85%;
    }
  }
  @media only screen and (min-width: 993px) {
    .container-footer {
      width: 70%;
    }
  }
  /* line 16, C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/materialize-sass-0.100.2/app/assets/stylesheets/materialize/components/_grid.scss */
  .container-footer .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

@import "materialize";
@import "materialize/extras/nouislider";
@import "articles";


