// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Botones

//Table
$table-striped-color: #f3d8d9;
$table-transition-color: #f1b3b5;
$table-border-color: #d0d0d0 !default;

th{
    font-size: 1.15rem;
  }

  table {
    width:100%;
    display: table;
  
    &.bordered > thead > tr,
    &.bordered > tbody > tr {
      border-bottom: 1px solid $table-border-color;
    }
  
    &.striped > tbody {
      > tr:nth-child(odd) {
        background-color: $table-striped-color;
      }
  
      > tr > td {
        border-radius: 0;
      }
    }
  
    &.highlight > tbody > tr {
      transition: background-color .25s ease;
      &:hover {
        background-color: $table-transition-color;
      }
    }
  
    &.centered {
      thead tr th, tbody tr td {
        text-align: center;
      }
    }
  
  }